:root {
  --size-mobile: 400px;
  --size-desktop: 1440px;

  --color-base: hsl(0, 0%, 100%);
  --color-primary-lighter: hsl(30, 54%, 90%);
  --color-primary-light: hsl(30, 18%, 87%);
  --color-primary: hsl(30, 10%, 34%);
  --color-primary-dark: hsl(24, 5%, 18%);

  --color-accent-title: hsl(14, 45%, 36%);

  --color-accent-text: hsl(332, 51%, 32%);
  --color-accent-bg: hsl(330, 100%, 98%);

  --fs-m: 16px;
  --fs-l: 22px;
  --fs-xl: 32px;

  --spacing-s: calc(var(--fs-m) - 8px);
  --spacing-m: calc(var(--fs-m) - 4px);
  --spacing-l: calc(var(--fs-l) - 4px);
  --spacing-xl: calc(var(--fs-xl) - 4px);
}

@font-face {
  font-family: "YoungSerif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Outfit Bold";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Outfit Bolder";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
  font-weight: 700;
}

html,
body {
  height: 100vh;
}

body {
  color: var(--color-primary);
  background-color: var(--color-base);

  font-family: "Outfit";
  font-size: var(--fs-m);
  margin: 0;
  line-height: 1.5;
}

main > section {
  max-width: var(--size-mobile);
  margin: 0 auto;
}

.recipe-title {
  line-height: 1.2;
  font-family: "YoungSerif";
  font-size: var(--fs-xl);
  color: var(--color-primary-dark);
}

img {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.prep {
  background-color: var(--color-accent-bg);
  padding: var(--spacing-l);
  border-radius: var(--spacing-m);
}

.prep__title {
  margin: 0;
  font-family: "Outfit Bold";
  font-size: var(--fs-l);
  color: var(--color-accent-text);
}

.wrapper > section + section:not(.nutrition) {
  border-bottom: 1px solid var(--color-primary-light);
  padding-bottom: var(--spacing-xl);
}

/* Style space between ::marker and list element's content */
li {
  padding-left: var(--spacing-l);
}

li::marker {
  color: var(--color-accent-title);
  font-family: "Outfit Bold";
}

li + li {
  margin-top: var(--spacing-m);
}

.section-title {
  color: var(--color-accent-title);
  font-family: "Youngserif";
  font-size: var(--fs-xl);
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr + tr {
  border-top: 1px solid var(--color-primary-light);
}

td {
  padding: 1rem 2rem;
}

li b {
  font-family: "Outfit Bold";
}

.nutritrion-value {
  font-family: "Outfit Bold";
  color: var(--color-accent-title);
  padding-left: 0;
}

@media (min-width: 400px) {
  main {
    background-color: var(--color-primary-lighter);
    padding: var(--spacing-xl);
  }

  main > section {
    background-color: var(--color-base);
    max-width: 800px;
    border-radius: var(--spacing-xl);
    padding: var(--spacing-xl);
  }

  img {
    border-radius: var(--spacing-l);
  }

  .wrapper {
    width: 100%;
  }
}
